.App {
  text-align: center;
}

.login-div{
  background:rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  margin: 0 auto;
  width: 40%;
  padding:2% 0%; 
}

.login-div form{
  display:flex;
  flex-direction: column;
}

.login-div form div{
  display:flex;
  justify-content:space-around;
  width:80%;
  margin: 2% auto;
}

.login-div form div input{
  padding:1% 0%;
  border-radius: 4px;
}

.login-div form button{
  width: 20%;
  margin:0 auto;
  background:rgb(90, 170, 58);
  border: 1px solid black;
  padding:1% 0%;
  border-radius: 4px;
  cursor:pointer;
}

.login-div form button:hover{
  color:black;
  background:white;
  border: 1px solid black;
}

.add-from{
  background: rgba(0, 0, 0, 0.4);
  padding:2% 0%;
  width: 40%;
  margin: 0 auto;
  border-radius: 8px;
  display:flex;
  justify-content: space-around;
}

.add-from button {
  background:rgb(90, 170, 58);
  border: 1px solid black;
  padding:1% 2%;
  border-radius: 4px;
  cursor:pointer;
}

.add-from input {
  border-radius:8px;
  padding:0% 1%;
}

.add-from button:hover{
  color:black;
  background:white;
  border: 1px solid black;
}

.edit-form{
  display:flex;
  flex-direction:column;
  width:80%;
  margin:0 auto;
}

.edit-form input{
  margin:2% 0%;
  padding: 2% 1%;
  border-radius:8px;
}

.edit-form button {
  background:rgb(90, 170, 58);
  border: 1px solid black;
  padding:1% 2%;
  border-radius: 4px;
  cursor:pointer;
  margin:2% 0%;
}

.edit-form button:hover{
  color:black;
  background:white;
  border: 1px solid black;
}

.friend-btn{
  background:rgb(90, 170, 58);
  border: 1px solid black;
  padding:1% 3%;
  border-radius: 4px;
  cursor:pointer;
  margin:2% 2%;
}

.friend-btn:hover{
  color:black;
  background:white;
  border: 1px solid black;
}


.friend-grid{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin:0 auto;
}

.friend-card{
  width:20%;
  margin: 2% 1%;
  background:rgba(0, 0, 0, 0.4);
  color:black;
  padding:1% 0%;
  border-radius: 8px;
}
